<section class="section is-fullheight is-bold">
</section>

<section class="hero is-fullheight is-bold">
  <button class="button  modal-button button is-dark" data-target="#myModal" aria-haspopup="true">Log in/Log
    out
    <button class="button  modal-button button is-dark" data-target="#myModal" aria-haspopup="true">Sign In
      out</button>
  </button>
  <button class="button  modal-button button is-dark" data-target="#myModal" aria-haspopup="true">Make an Account
    <button class="button  modal-button button is-dark" data-target="#myModal" aria-haspopup="true">Make Account
    </button>
  </button>

  <div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box"><a href="memo.html" class="has-background-light">
          <span class="icon"><i class="fas fa-sign-in-alt"></i>
          </span>
        </a>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <figure class="has-image-centered">
    <img src="Images/LogoMakr_7jJgLK.png" width="100" height="50" alt="Rules">
  </figure>