<div id="app">
  <a role="button" class="navbar-burger burger is-pulled-left" aria-label="menu" aria-expanded="false"
    data-target="navbarBasicExample">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div class="sidebar sticky is-mobile">
    <aside class="column is-2 is-narrow-mobile is-fullheight section is-pulled-left">
      <ul class="menu-list sidebar fixedsticky">
        <li class="has-background-light">
          <p>Navigation</p>
        </li>
        <li>
          <a href="#" class="has-background-light">
            <span class="icon"><i class="fas fa-sort"></i></span> Sort/Filter
          </a>
        </li>
        <li>
          <a href="#" class="has-background-light">
            <span class="icon">
              <i class="fa fa-info"></i>
            </span>Memos/Notes
          </a>
        </li>
      </ul>
    </aside>
  </div><!-- SideBar-->