<div class="columns is-mobile">
  <div class="is-flex-mobile">
    <div class="column">
      <article class="message is-pulled-right">
        <div class="message-header">
          <p>{{ Rule }}</p>
        </div>
        <div class="message-body">
          {{ Description }}
        </div>
        <p class="buttons">
          <a href="https://www.dandwiki.com/wiki/5e_SRD:Ranged_Attacks" class="button is-dark">
            <span>View Full Rule</span>
          </a>
          <a class="button button is-dark">
            <i class="fas fa-crown"></i>
            <span>Favorite Rule</span>
          </a>
        </p>
      </article><!-- Ranged Attack Div -->