<article class="message is-pulled-right">
  <div class="message-header">
    <p>Forced Movement and Terrain</p>
  </div>
  <div class="message-body">
    <table>
      <tr>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
  </div>
  <p class="buttons">
    <a href="https://dnd4.fandom.com/wiki/Forced_movement" class="button button is-dark">
      <span>View Full Rule</span>
    </a>
    <a href="#" class="button button is-dark">
      <i class="fas fa-crown"></i>
      <span>Favorite Rule</span>
    </a>
  </p>
</article>