<section class="section is-fullheight is-bold">
</section>

<section class="hero is-fullheight is-bold">
  <div id="myModal" class="modal"></div>
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <a href="#" class="has-background-light">
        <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
      </a>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <figure class="has-image-centered">
    <img src="Images/LogoMakr_7jJgLK.png" width="100" height="50" alt="Rules">
  </figure>

  <div id="login">
    <div class="login-card">

      <div class="card-title">
        <h1>Please Sign In</h1>
        <h1>Please Sign Up</h1>
      </div>

      <div class="content">
        <form method="POST" action="#">

          <input id="email" type="email" name="email" title="email" placeholder="Email" required autofocus>
          <input id="password" type="password" name="password" title="password" placeholder="Password" required>

          <div class="level options">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="content">
        <form method="POST" action="#">
          <input id="password" type="password" name="password" title="password" placeholder="Verify Password" required>

          <div class="level options">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
  </a>
  </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <button class="button  modal-button button is-dark" data-target="#myModal" aria-haspopup="true">Log in/Sign Up
  </button>

  <div id="app">
    <a role="button" class="navbar-burger burger is-pulled-left" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    <div class="sidebar sticky is-mobile">
      <aside class="column is-2 is-narrow-mobile is-fullheight section is-pulled-left">
        <ul class="menu-list sidebar fixedsticky">
          <li class="has-background-light">
            <p>Navigation</p>
          </li>
          <li>
            <a href="#" class="has-background-light">
              <span class="icon"><i class="fas fa-sort"></i></span> Sort/Filter
            </a>
          </li>
          <li>
            <a href="#" class="has-background-light">
              <span class="icon">
                <i class="fa fa-info"></i>
              </span>Memos/Notes
            </a>
          </li>
        </ul>
      </aside>
    </div><!-- SideBar-->
  </div>
  <div class="columns is-mobile">
    <div class="is-flex-mobile">
      <div class="column">

      </div>
    </div>
  </div>
</section>
<script src="public/js/index.js"></script>